/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Intel One Mono", monospace;
  font-weight: 100;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
}

.header-text-logo {
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 100px;
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: block;
}

header h1 {
  font-size: 1rem;
  font-weight: 100;
}

section { 
  padding-bottom: 1rem;
  max-width: 42rem;
  margin: 0 auto;
}
@media (max-width: 600px) {
  section {
    padding-bottom: 1rem;
    max-width: 28rem;
    margin: 0 auto;
  }
}

h2 {
text-align: left;
margin-top: 5rem;
  font-family: "Intel One Mono", monospace;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.2;
}

/* works */
.works {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  max-width: none;
}

.work-list {
 display: flex;
  gap: 1px;
  flex-wrap: wrap;
  /* width: fit-content; */
  margin: 0 auto;
  width: calc(6 * 7rem + 5 * 1px);
}
@media (max-width: 600px) {
  .work-list {
    width: calc(3 * 7rem + 3 * 1px);
  }
}


.work-card {
  position: relative;
  width: 7rem;
  overflow: hidden; 
}

.work-card img {
  width: 100%;
  aspect-ratio: 5 / 4;
  object-fit: cover;
  display: block;
}

/*aboutやcontactの部分*/
.section-inner {
  margin-top: 10rem;

  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.about-link {
  text-decoration: none;
  color: black;
  background: rgb(255, 0, 0, 0);
  padding: 0;
  font-size: 0.7rem;
  font-weight: 100;
}

.about-link:hover {
  color: #ffffff;
  background: red;
  padding: 0;
}

/* contact */
.link {
  text-align: left;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  background: rgb(255, 0, 0, 0);
  padding: 0;
}

.link:hover {
  color: #ffffff;
  background: red;
  padding: 0;
}

/*about*/
.about {
  text-align: left;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  background: rgb(255, 0, 0, 0);
  padding: 0;
  line-height: 1.2;
}

.Link {
  display: inline-block;
 text-decoration: none;
 color: black;
 font-size: 0.8rem;
 
 background: rgb(255, 0, 0, 0);
 padding: 0;
}
.Link:hover {
  color: #ffffff;
  background: red;
  padding: 0;
}

.Back {
  display: inline-block;
  margin-top: 3rem;
 text-decoration: none;
 color: black;
 font-size: 0.8rem;
 
 background: rgb(255, 0, 0, 0);
 padding: 0;
}
.Back:hover {
  color: #ffffff;
  background: red;
  padding: 0;
}

.browsing{
  text-decoration: none;
  padding: 0;
  font-size: 0.7rem;
  font-weight: 100;
  color: #ffffff;
  background: red;
}

footer {
  text-align: center;
  font-size: 0.5rem;
  padding: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
/*ここから作品タブのコード*/
.work-tab-logo{
width: 5rem;
height: auto;
align-items: flex-start
}

.artwork{
display: flex;
flex-direction: column;
align-items: center;
position: relative;
margin-top: 5rem;
margin-bottom: 5rem;
width: 50rem;
}

.title{
text-align: left;
font-size: 0.7rem;
line-height: 1.2;
}

.caption{
margin-top: 2px;
text-align: left;
font-size: 0.7rem;
font-weight: 100;
line-height: 1.2;
}
.work-page{
  max-width: 50rem;

}
.work-area{
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 24px;
}

/* work pageのcss */

.slide {
  display: none; /*none = 見えない状態*/

  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 50rem;
}

/*　最初の画像　*/
.gallery:not(:has(.slide:target)) /*  */
.slide:first-child {
  display: block;
}

/*　ターゲットされた画像　*/
.slide:target {
  display: block; /*block = 下に改行して積み重ねていく　この場合だと画面が切り替わる*/
}

/*　画像　*/
.slide img {
  width: 100%;
  display: block;
}

/*UI*/
.gallery-ui {
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}
/*矢印のリンクみたいなのを消す*/
.gallery-ui a {
  text-decoration: none;
  color: black;
}

.gallery {
  width: 100%;
  max-width: 900px;

  margin: 0 auto;
}
.gallery-video_3-2 {
  width: 100%;

  aspect-ratio: 3 / 2;
  object-fit: cover;
  display: block;
}
.gallery-video_16-9 {
  width: 100%;
  height: auto;

  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}
.gallery-video_1-1 {
  width: 10%;
  height: auto;

  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}
.gallery-video_9-16 {
  width: 100%;
  height: auto;

  aspect-ratio: 9 / 16;
  object-fit: cover;
  display: block;
}